.account h2 {
  font-size: 20px;
  font-weight: bold; }

.account label {
  font-size: 14px;
  font-weight: bold;
  margin: 0 15px;
  width: 15%; }

.account .form-group {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px auto; }
  .account .form-group input,
  .account .form-group select {
    font-size: 13px;
    height: auto;
    width: 50%; }
  .account .form-group input.btn {
    margin: 0 auto; }

.profile-box {
  margin-bottom: 30px; }
  .profile-box .name {
    font-size: 20px; }
  .profile-box .card .fas {
    margin-right: 10px; }

.payment .card-header {
  text-align: center; }
  .payment .card-header h2 {
    font-size: 20px; }

.payment .form-group {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px auto; }
  .payment .form-group label {
    font-size: 14px;
    margin: 0 15px;
    width: 15%; }
  .payment .form-group input,
  .payment .form-group select {
    font-size: 13px;
    width: 50%; }
  .payment .form-group input.btn {
    margin: 0 auto; }

.edit_prof {
  margin-bottom: 30px; }
  .edit_prof .card-body label {
    width: 15%; }
  .edit_prof .card-body .profImage {
    text-align: center; }
    .edit_prof .card-body .profImage img {
      height: 100px; }
