.account {
	h2 {
		font-size: 20px;
		font-weight: bold;
	}

	label {
		font-size: 14px;
		font-weight: bold;
		margin: 0 15px;
		width: 15%;
	}


	.form-group {
		align-items: center;
		margin: 20px auto;

		input,
		select {
			font-size: 13px;
			height: auto;
			width: 50%;
		}

		input.btn {
			margin: 0 auto;
		}
	}
}

.profile-box {
	margin-bottom: 30px;

	.name {
		font-size: 20px;
	}

	.card {
		.fas {
			margin-right: 10px;
		}
	}
}


//CONFIRM PAYMENT
.payment {

	.card-header {
		text-align: center;

		h2 {
			font-size: 20px;
		}
	}

	.form-group {
		align-items: center;
		margin: 20px auto;

		label {
			font-size: 14px;
			margin: 0 15px;
			width: 15%;
		}

		input,
		select {
			font-size: 13px;
			width: 50%;
		}

		input.btn {
			margin: 0 auto;
		}
	}
}

//EDIT PROFILE
.edit_prof {
	margin-bottom: 30px;

	.card-body {
		label {
			width: 15%;
		}

		.profImage {
			text-align: center;

			img {
				height: 100px;
			}
		}
	}
}
