body {
  line-height: 1;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background: #f0f0f0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif; }

a {
  color: inherit; }

a:hover {
  text-decoration: none; }

i {
  font-family: 'Nunito', sans-serif; }

.container {
  max-width: 1500px;
  margin: 0 auto; }

.box {
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }

.btn-cart {
  color: #fffcfc;
  background: #545454;
  height: 30px;
  line-height: 1; }
  .btn-cart i {
    font-size: 12px; }
  .btn-cart span {
    font-family: 'Nunito', sans-serif;
    font-weight: 500; }

.btn-details {
  background: #e4dede;
  font-size: 12px;
  margin-right: 10px; }

.form-group input {
  height: auto; }
