body {
  line-height: 1;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background: #f0f0f0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif; }

a {
  color: inherit; }

a:hover {
  text-decoration: none; }

i {
  font-family: 'Nunito', sans-serif; }

.container {
  max-width: 1500px; }

.box {
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }

.btn-cart {
  color: #fffcfc;
  background: #545454;
  height: 30px;
  line-height: 1; }
  .btn-cart i {
    font-size: 12px; }
  .btn-cart span {
    font-family: 'Nunito', sans-serif;
    font-weight: 500; }

.btn-details {
  background: #e4dede;
  font-size: 12px;
  margin-right: 10px; }

/* Top Nav */
#top {
  background: #555555;
  padding: 10px 0; }
  #top .offer {
    color: #ffffff; }
    #top .offer .btn {
      text-transform: uppercase; }
  #top a {
    color: #ffffff; }
  #top ul.menu {
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none; }
    #top ul.menu li {
      display: inline-block; }
      #top ul.menu li a {
        color: #eeeeee; }

#top ul.menu > li + li:before {
  content: "|\00a0";
  color: #f7f7f7;
  padding: 0 5px; }

.navbar .navbar-nav {
  margin-left: 20px; }
  .navbar .navbar-nav .nav-link:hover {
    color: inherit; }
  .navbar .navbar-nav .nav-item {
    height: 70px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px; }
  .navbar .navbar-nav .nav-item:hover {
    background: gainsboro; }
  .navbar .navbar-nav .active {
    background: gainsboro; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .form-group input {
    height: 30px;
    width: 60%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .form-group .btn-search {
    line-height: 1;
    height: 30px;
    background: #cecece;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }

#footer {
  background: #e0e0e0;
  padding: 10px 0; }
  #footer ul {
    list-style: none;
    padding-left: 0; }
    #footer ul a {
      color: #999;
      padding: 20px 0; }
    #footer ul a:hover {
      color: #666; }
  #footer .social {
    text-align: left; }
    #footer .social a {
      margin-right: 10px;
      display: inline-block;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      font-size: 15px;
      text-align: center;
      vertical-align: bottom;
      background: #555; }
    #footer .social a:hover {
      color: #dedede;
      background: #777777; }

#copyright {
  background: #333;
  color: #ccc;
  padding: 20px 0;
  font-size: 12px; }
  #copyright p {
    margin: 0px; }

.main-carousel .carousel-inner {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-carousel .carousel-inner img {
    height: auto;
    width: 100%; }

.main-carousel .controllers {
  display: none; }

#advantages .row {
  margin-top: 35px; }

#advantages .box {
  position: relative; }

#advantages .icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 120px;
  width: 100%;
  text-align: center;
  height: 100%;
  color: #c5c5c5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1; }

#advantages .caption {
  padding: 20px; }
  #advantages .caption h3 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
    padding-bottom: 10px; }
    #advantages .caption h3 a {
      color: black; }
    #advantages .caption h3 a:hover {
      color: #666; }
  #advantages .caption p {
    position: relative;
    z-index: 2; }

#latest h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px; }

#products {
  margin-bottom: 30px; }
  #products .card a {
    text-align: center; }
  #products .card img {
    height: 300px;
    width: auto; }
  #products .card .text {
    margin: 15px; }
    #products .card .text h3 {
      font-weight: bold; }
    #products .card .text p {
      font-size: 13px; }
    #products .card .text .button {
      text-align: center; }

.breadcrumb {
  padding: 8px 15px;
  margin: 20px 0;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); }
  .breadcrumb .breadcrumb-item + li:before {
    content: ">\00a0";
    color: #ccc; }
  .breadcrumb .active {
    font-weight: bolder; }

.categories .card {
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); }
  .categories .card .card-header {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .categories .card .list-group-flush {
    padding: 0; }
  .categories .card .list-group-item {
    font-size: 13px; }
  .categories .card a:hover {
    color: inherit; }
  .categories .card li:hover {
    background: #e1e1e1; }

.shop .row {
  margin-top: 35px;
  margin-bottom: 35px; }

.shop .card {
  padding: 15px; }
  .shop .card .header {
    font-size: 20px;
    font-weight: bold; }
  .shop .card p {
    font-weight: 16px; }

.shop .products .text {
  margin-top: 15px; }

.shop .products h3 {
  font-size: 15px;
  font-weight: bold; }

.shop .products p {
  font-size: 13px; }

.item-details {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .item-details #itemCarousel .fas {
    color: black;
    font-size: 20px; }

.price {
  color: #ff5301;
  font-weight: bold; }

.selection .form-group {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  margin-top: 10px; }

.selection h1 {
  padding: 25px 0 10px 35px;
  font-size: 18px;
  font-weight: bold; }

.selection p {
  margin-top: 8px;
  margin-left: 40px;
  font-size: 15px; }

.selection .btn-cart {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40px; }

.selection #thumbs {
  margin-top: 50px; }

.details .box {
  padding: 25px;
  margin-top: 25px; }

.details h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px; }

.details p,
.details ul {
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 23px; }

.suggested .card:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }

.suggested h1 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px; }

.suggested .row {
  margin: 25px 0; }

.suggested .headline {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.suggested .product .text {
  text-align: left;
  margin: 10px 5px; }

#cart .caption {
  padding: 20px; }
  #cart .caption h1 {
    font-size: 15px;
    font-weight: bold; }

#cart .table thead {
  text-align: center;
  font-size: 14px;
  font-weight: bold; }

#cart .table tbody td {
  vertical-align: middle;
  text-align: center; }

#cart .table tbody img {
  height: 50px; }

#cart tfoot {
  font-weight: bold; }

#cart .cart-btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 15px;
  margin: 35px; }
  #cart .cart-btns .btn {
    font-size: 13px;
    background: #d4bbbb; }
  #cart .cart-btns i {
    margin-right: 5px; }
  #cart .cart-btns .cont-shopping {
    float: right; }

#summary .box {
  padding: 20px; }
  #summary .box h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px; }
  #summary .box p {
    margin-bottom: 10px; }

#summary .total {
  font-weight: bold; }

#contactUs {
  margin-bottom: 50px; }
  #contactUs .card-header h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  #contactUs .card-header p {
    font-size: 14px;
    margin-bottom: 5px; }
  #contactUs form {
    width: 90%; }
    #contactUs form .form-group {
      margin: 15px 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #contactUs form label {
      width: 100px;
      font-size: 15px;
      font-weight: bold; }
    #contactUs form textarea {
      width: 60%; }
    #contactUs form .btn {
      font-weight: bold;
      font-size: 16px;
      margin: 0; }

#register {
  margin-bottom: 50px; }
  #register .card-header h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  #register .card-header p {
    font-size: 14px;
    margin-bottom: 5px; }
  #register form {
    width: 90%; }
    #register form .form-group {
      margin: 15px 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #register form label {
      width: 150px;
      font-size: 15px;
      font-weight: bold; }
    #register form input {
      height: auto; }
    #register form .btn {
      font-weight: bold;
      font-size: 16px;
      margin: 0; }
