body {
    line-height: 1;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

i {
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 1500px;
}

.box {
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-cart {
    color: #fffcfc;
    background: #545454;
    height: 30px;
    line-height: 1;

    i {
        font-size: 12px;
    }

    span {
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
    }
}

.btn-details {
    background: #e4dede;
    font-size: 12px;
    margin-right: 10px;
}

/* Top Nav */

#top {
    background: #555555;
    padding: 10px 0;



    .offer {
        color: #ffffff;

        .btn {
            text-transform: uppercase;
        }
    }

    a {
        color: #ffffff;
    }

    ul.menu {
        padding-top: 5px;
        margin: 0px;
        text-align: right;
        font-size: 12px;
        list-style: none;

        li {
            display: inline-block;

            a {
                color: #eeeeee;
            }
        }
    }
}


#top ul.menu > li + li:before {
    content: "|\00a0";
    color: #f7f7f7;
    padding: 0 5px;
}


//MAIN NAV 
.navbar {
    .navbar-nav {
        margin-left: 20px;

        .nav-link:hover {
            color: inherit;
        }

        .nav-item {
            height: 70px;
            margin: 0;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }

        .nav-item:hover {
            background: gainsboro;
        }

        .active {
            background: gainsboro;
        }
    }
}


//SEARCH Button

.form-group {
    display: flex;
    margin: 0;
    justify-content: center;

    input {
        height: 30px;
        width: 60%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-search {
        line-height: 1;
        height: 30px;
        background: #cecece;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}



//FOOTER//

#footer {
    background: #e0e0e0;
    padding: 10px 0;

    ul {
        list-style: none;
        padding-left: 0;

        a {
            color: #999;
            padding: 20px 0;
        }

        a:hover {
            color: #666;
        }
    }

    .social {
        text-align: left;

        a {
            margin-right: 10px;
            display: inline-block;
            color: #fff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
            font-size: 15px;
            text-align: center;
            vertical-align: bottom;
            background: #555;
        }

        a:hover {
            color: #dedede;
            background: #777777;
        }
    }
}


//COPYRIGHT//

#copyright {
    background: #333;
    color: #ccc;
    padding: 20px 0;
    font-size: 12px;

    p {
        margin: 0px;
    }
}





//MAIN PAGE CAROUSEL

.main-carousel {
    .carousel-inner {
        height: 65vh;
        display: flex;
        align-items: center;

        img {
            height: auto;
            width: 100%;
        }
    }

    .controllers {
        display: none;
    }

}





//INTRODUCTION

#advantages {

    .row {
        margin-top: 35px;
    }

    .box {
        position: relative;
    }


    .icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        width: 100%;
        text-align: center;
        height: 100%;
        color: #c5c5c5;
        box-sizing: border-box;
        z-index: 1;
    }

    .caption {
        padding: 20px;

        h3 {
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            z-index: 2;
            padding-bottom: 10px;

            a {
                color: black;
            }

            a:hover {
                color: #666;
            }
        }


        p {
            position: relative;
            z-index: 2;
        }

    }
}

#latest {
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}


//PRODUCTS

#products {
    margin-bottom: 30px;

    .card {

        a {
            text-align: center;
        }

        img {
            height: 300px;
            width: auto;
        }

        .text {
            margin: 15px;

            h3 {
                font-weight: bold;
            }

            p {
                font-size: 13px;
            }

            .button {
                text-align: center;
            }
        }
    }
}







//SHOP.PHP STYLES

.breadcrumb {
    padding: 8px 15px;
    margin: 20px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

    .breadcrumb-item + li:before {
        content: ">\00a0";
        color: #ccc;
    }

    .active {
        font-weight: bolder;
    }
}

//SIDEBARS & CATEGORIES

.categories {

    .card {
        margin-bottom: 25px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);

        .card-header {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .list-group-flush {
            padding: 0;
        }

        .list-group-item {
            font-size: 13px;
        }

        a:hover {
            color: inherit;
        }

        li:hover {
            background: #e1e1e1;
        }
    }
}

.shop {
    .row {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .card {
        padding: 15px;

        .header {
            font-size: 20px;
            font-weight: bold;
        }

        p {
            font-weight: 16px;
        }
    }

    .products {
        .text {
            margin-top: 15px;
        }

        h3 {
            font-size: 15px;
            font-weight: bold;
        }

        p {
            font-size: 13px;
        }
    }
}


//DETAILS

.item-details {
    justify-content: center;

    #itemCarousel {
        .fas {
            color: black;
            font-size: 20px;
        }
    }
}

.price {
    color: #ff5301;
    font-weight: bold;
}

.selection {

    .form-group {
        justify-content: center;
        align-items: center;
        font-size: 15px;
        margin-top: 10px;
    }

    h1 {
        padding: 25px 0 10px 35px;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        margin-top: 8px;
        margin-left: 40px;
        font-size: 15px;
    }

    .btn-cart {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 40px;
    }

    #thumbs {
        margin-top: 50px;
    }
}

.details {
    .box {
        padding: 25px;
        margin-top: 25px;
    }

    h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    p,
    ul {
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 23px;
    }
}

.suggested {

    .card:hover {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }

    h1 {
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
    }

    .row {
        margin: 25px 0;

    }

    .headline {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .product .text {
        text-align: left;
        margin: 10px 5px;
    }
}


//CART.PHP

#cart {

    .caption {
        padding: 20px;

        h1 {
            font-size: 15px;
            font-weight: bold;
        }
    }

    .table {
        thead {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }

        tbody {
            td {
                vertical-align: middle;
                text-align: center;
            }

            img {
                height: 50px;
            }
        }
    }

    tfoot {
        font-weight: bold;
    }

    .cart-btns {
        position: relative;
        display: flex;
        top: 15px;
        margin: 35px;

        .btn {
            font-size: 13px;
            background: #d4bbbb;
        }

        i {
            margin-right: 5px;
        }

        .cont-shopping {
            float: right;
        }
    }
}

#summary {
    .box {
        padding: 20px;

        h2 {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }
    }

    .total {
        font-weight: bold;
    }
}



//CONTACT.PHP

#contactUs {
    margin-bottom: 50px;

    .card-header h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .card-header p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    form {
        width: 90%;

        .form-group {
            margin: 15px 0;

            align-items: center;
        }

        label {
            width: 100px;
            font-size: 15px;
            font-weight: bold;
        }

        textarea {
            width: 60%;
        }

        .btn {
            font-weight: bold;
            font-size: 16px;
            margin: 0;
        }
    }
}


//REGISTER.PHP

#register {
    margin-bottom: 50px;

    .card-header h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .card-header p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    form {
        width: 90%;

        .form-group {
            margin: 15px 0;

            align-items: center;
        }

        label {
            width: 150px;
            font-size: 15px;
            font-weight: bold;
        }

        input {
            height: auto;
        }

        .btn {
            font-weight: bold;
            font-size: 16px;
            margin: 0;
        }
    }
}
